<div class="card p-2 gap-3">
	@if (isLoading){
	<app-loading />
	} @else {

	@if(baseCategory != null){
	<div class="d-flex align-items-center gap-3">
		<span [style.width]="'fit-content'"> سعر عيار {{baseCategory.standard}} الحالى: </span>
		<input [readonly]="!isEdible" aria-label="base Price input" [(ngModel)]="baseCategoryPrice" type="number"
			class="form-control" [style.flex]="1" />
	</div>
	@if(isEdible){
	<div class="d-flex align-items-center justify-content-between">
		<button class="col-4 btn btn-primary" (click)="changeBaseCategoryPrice()">حفظ</button>
		<button class="col-4 btn btn-danger" (click)="resetBaseCategoryPrice()">إلغاء</button>
	</div>}
	} @else {
	<div class="alert alert-danger">بالرجاء إدخال العيار الاساسي</div>
	@if(isEdible){
	<form class="d-flex flex-column gap-2" [formGroup]="newBaseCategoryForm" (ngSubmit)="onSubmit()">
		@for(control of newBaseCategoryFormControlNames; track control.key){
		<div class="d-flex align-items-center">
			<label class="col-4" for="{{control.key}}"> {{control.displayName}} </label>
			<input class="form-control" type="{{control.type}}" id="{{control.key}}"
				formControlName="{{control.key}}" />
		</div>
		}
		<button class="btn btn-primary" type="submit" [disabled]="newBaseCategoryForm.invalid">إدخال</button>
	</form>
	}
	}

	}

</div>
